.field {
  margin-bottom: 20px;
}

.field label {
  /* esto ayuda a que tenga salto de línea  */
  display: block;
  margin: 0 0 5px 0;
  color: #222;
  font-weight: 700;
  font-size: 20px;
}

.field input {
  background-color: #fff;
  outline: 0;
  font-size: 20px;
  padding: 10px 15px;
  border: 1px solid rgb(34, 34, 34, 0.15);
  color: #222;
  border-radius: 5px;
  width: 100%;

  /* para que el ancho se ajuste al ancho del parent container */
  box-sizing: border-box;
}
